<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page </title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav>
            <a href="">Home</a>
            <a href="">Register</a>
            <a href="">List Task</a>
            <a href="">Create task</a>
            <a href="">Update task</a>
            <a href="">Delete task</a>
    </nav>
    <h1>Welcome to my Task Manager api </h1>
</body>
</html>